In [26]:
def fruits(**kwargs):
    {print(f"Fruit {name} in quality {values} psc") for name, values in kwargs.items()}
    return print(f'count of fruits number: {sum(kwargs.values())}')
fruits(
    apple = 25,
    orange = 15,
    lemon = 5
)

Fruit apple in quality 25 psc
Fruit orange in quality 15 psc
Fruit lemon in quality 5 psc
count of fruits number: 45

In [9]:
list_1 = [100, 120, -90, 345 ,-1, 0 ,200]

for s in list_1:
    if s<0:
        list_1.remove(s)
print(f"remove of negative numbers : {list_1}")
       
sum_of_values = sum(list_1)
print(f"sum_of_values: {sum_of_values}")

remove of negative number : [100, 120, 345, 0, 200]
sum_of_values: 765

In [49]:
list_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
              '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
              '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
              '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
              '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',
              '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

amount_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471,
                  651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519,
                  3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

list_Month = [i.split('-')[1] for i in list_dates]
print(list_Month)






Nov_income = [(f'Month {list_Month[i]}', f'Income {amount_by_date[j]}') 
                          for i in range(len(list_Month))
                          for j in range(len(amount_by_date))
                          if i == j and list_Month[i] == '11']

Nov_income

['09', '12', '09', '12', '10', '09', '12', '11', '12', '11', '10', '12', '11', '11', '09', '10', '12', '09', '12', '11', '11', '12', '12', '10', '10', '09', '11', '12', '10', '12']

[('Month 11', 'Income 4944'),
 ('Month 11', 'Income 3701'),
 ('Month 11', 'Income 7037'),
 ('Month 11', 'Income 4274'),
 ('Month 11', 'Income 2004'),
 ('Month 11', 'Income 2822'),
 ('Month 11', 'Income 316')]